    </main>

    <footer>
	    <a id="license-icon" rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img src="/img/cc.svg" width="20" height="20" alt="Creative Commons"><img src="/img/by.svg" width="20" height="20" alt="Creative Commons Attribution"></a>
			<a id="observatory-badge" href="https://observatory.mozilla.org/analyze/zeroknowledge.me"><img alt="Mozilla HTTP Observatory Grade" height="20" src="https://img.shields.io/mozilla-observatory/grade-score/zeroknowledge.me?color=darkgray&logo=mozilla&style=flat-square"></a>
      <p>
        Last modified: <time pubdate="pubdate"><!--LAST_MODIFIED--></time>
      </p>
      <p>
        <a href="https://www.github.com/sebastianv89/www.zeroknowledge.me">Website source</a>
      </p>
    </footer>
  </body>
</html>
