body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

button {
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

#loginScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100vw;
}

#loginScreen button {
    height: 40px;
    width: 250px;
    background: black;
}

#loginScreen button img {
    vertical-align: -45%;
    margin-right: 5px;
}

#loginScreen button span {
    background: #1fdf64;
    color: black;
    border-radius: 500px;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px;
}

#loginScreen #premium {
    font-size: smaller;
    color: #999;
}

#scanScreen {
    height: 100vh;
    width: 100vw;
    display: none;
}

#playback {
    height: 100vh;
    width: 100vw;
    display: block;
}

#closeScan {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc6;
    color: black;
    border-radius: 500px;
    width: 50px;
    height: 50px;
}

#playScreen {
    height: 100vh;
    width: 100vw;
    display: none;
}

#scan {
    background-color: #666;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 500px;
    width: 200px;
    height: 200px;
    padding: 0;
    border: 20px solid black;
}

#pause,
#play {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #999;
    border-radius: 500px;
    width: 250px;
    height: 250px;
    padding: 0;
    border: 20px solid black;
}

.animatedPlay {
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes grow {
    from {
        border-width: 20px;
    }
    20% {
        border-width: 5px;
        animation-timing-function: ease;
    }
    50% {
        border-width: 20px;
        animation-timing-function: ease-out;
    }
    60% {
        border-width: 15px;
        animation-timing-function: linear;
    }
    80% {
        border-width: 5px;
        animation-timing-function: ease-out;
    }
    to {
        border-width: 20px;
        animation-timing-function: ease-out;
    }
}

#play img {
    display: block;
    margin: auto;
    transform: translate(9px, 0);
}

#pause img {
    display: block;
    margin: auto;
}

#logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc6;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 500px;
}
