table { width: 100%; border-collapse: collapse; }
td:first-child::before { content: '0'; visibility: hidden; }

/* table borders */
td:first-child, th:first-child, tbody td:nth-child(3), thead tr:first-child th:nth-child(2), thead tr:last-child th:nth-child(3), tfoot td:nth-child(2) { border-right: 1px solid black; }
thead tr:last-child th:nth-child(2n+2),
tbody td:nth-child(2n+2) { border-right: 1px solid #ccc; }
thead tr:last-child th { border-bottom: 1px solid black; }
tfoot tr:first-child td { border-top: 1px solid black; }

/* table background */
tbody tr:nth-child(5n+2), tbody tr:nth-child(5n+4) { background-color: #eee; }
table tr:nth-child(5n) { background-color: #ddd; }

/* cell layout */
tbody td { text-align: right; }
tfoot td:first-child { text-align: right; }
tfoot td:not(:first-child) { text-align: center; font-weight: bold; }
