table { width: 100%; border-collapse: collapse; table-layout: fixed; }
th:not(:first-child) { position: sticky; top: 0; }
th:first-child { width: 4.5ch; }
#menu { width: 100%; }

/* table borders */
th:not(:last-child), td:not(:last-child) { border-right: 1px solid black; }
tbody tr:first-child { border-top: 1px solid black; }
tbody tr:last-child { border-bottom: 1px solid black; }

/* table background */
tbody tr:nth-child(odd) { background-color: #eee; }

/* cell layout */
tbody td { text-align: right; }
tfoot td { text-align: center; font-weight: bold; }

tbody tr:last-child td:first-child { opacity: 0; }

#playerCount { width: 5ch; }
