body {
    max-width: 40em;
    margin: auto;
    font-family: sans-serif;
}

body > header a {
    color: inherit;
    text-decoration: none;
}

body > header h1 a .fade {
    opacity: .05;
    transition: opacity .5s ease-in-out;
}

body > header h1 a:hover .fade,
body > header h1 a:focus .fade {
    opacity: 1;
}

body > header h1 {
    margin-bottom: 0;
}

body > header nav ul {
    text-align: center;
    padding-left: 0;
    margin: 0;
}

body > header nav ul li {
    display: inline;
}

body > header nav ul li a {
    display: inline-block;
    padding: 1em .5em;
}

body > header nav a:hover,
body > header nav a:focus {
    text-decoration: underline;
}

main {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
}

body > footer {
    font-size: smaller;
}

:target summary,
li:target,
dt:target {
    background-color: #ffc;
}

dl {
    margin: 0;
}

dt {
    font-style: italic;
    margin-top: 1ex;
}

.flatlist {
    padding: 0;
}

.flatlist li {
    display: inline;
}

.flatlist li:not(:last-child)::after {
    content: ', ';
}

ul li {
    margin-bottom: 1ex;
}

ul.details-list {
    list-style-type: none;
    padding-left: 2em;
}

ul.details-list summary {
    margin-top: .5em;
    margin-left: -1em;
}

ul.details-list h4 {
    padding-left: -2em;
    display: inline;
}

#license-icon {
    float: right;
}
